*.exe
configs/config.yml
cpu.out
mem.out
*.test
.idea/
.vagrant/
*.vdi
**/.DS_Store
**/.env
.database/
.rabbitmq

cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
